.header {
    grid-area: h;
    background-color: green;
}

.header img {
    width: 80px;
}

.loginBlock {
    float: right;
    
}
.loginBlock a {
    color: white;
}
.loginBlock img {
  width: 50px;
  height: 50px;
  border-radius: 30px;
}