.dialogs {
    display :grid;
    padding: 10px;
    grid-template-columns:2fr 10fr ;
    color: red;
}

.dialogItem  {
    padding: 10px;
    color: grey;
}

.DialogItem .active {
    color: gold;
}

.messages {
    padding: 10px;
}

.message {
    color: black;
}

